<div class="container">
	<h2>Accomodations</h2>
	<div class="form-group row">
		<div class="col-md-4" align="start"> <!-- column 1 -->
			<!-- <div class="row"> -->

				<!-- <label for="bedroom" class="mt-2">Bedroom: </label> -->
				<select name="bedroom" id="bedroom" class="btn btn-outline-secondary">
					<option value="bedroom">Bedroom</option>
					<option value="private">Private</option>
					<option value="shared">Shared</option>
				</select>
			<!-- </div> -->
			<!-- <div class="row"> -->
				<!-- <label for="bathroom" class="mt-2">Bathroom</label> -->
				<select name="bathroom" id="bathroom" class="btn btn-outline-secondary">
					<option value="Bathroom">Bathroom</option>
					<option value="private">Private</option>
					<option value="shared">Shared</option>
				</select>
			<!-- </div> -->
			<!-- <div class="row"> -->
				<!-- <label for="gender-pref" class="mt-2">Student gender preference</label> -->
				<select name="genderPref" id="gender-pref" class="btn btn-outline-secondary">
					<option value="either">Student gender preference</option>
					<option value="either">either</option>
					<option value="male">male</option>
					<option value="female">female</option>
				</select>
			<!-- </div> -->
		</div> <!-- /column 1 -->

		<div class="col-md-4" id="accomBoxes"> <!-- column 2 -->
			<div class="form-check">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" name="religion_box" id="religion">
			    <input type="hidden" name="religion" value="0">
			    Religious orientation OK?
			  </label>
			</div>
			<div class="form-check">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" name="diet_box" id="diet">
			    <input type="hidden" name="diet" value="0">
			    Dietary Requirements OK?
			  </label>
			</div>
			<div class="form-check">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" name="guests_box" id="guests">
			    <input type="hidden" name="guests" value="0">
			    Two Guests OK?
			  </label>
			</div>
			<div class="form-check">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" name="otherProgs_box" id="otherProgs">
			    <input type="hidden" name="otherProgs" value="0">
			    Hosting Other Programs OK?
			  </label>
			</div>
			<div>
			  <label for="curfew" class="">Guest Return Time?
			    <input class="" type="text" name="curfew" id="curfew" value="">
			   </label>  
			</div>
		</div><!-- /column 2 -->

		<div class="col-md-4"> <!-- column 3 -->
			<label for="commuteType">Commute Type: </label>
			<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" id="commuteType">
			Transportation Method
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Car</a>
				<a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Bus</a>
				<a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Max</a>
				<a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Walk</a>
			</div>
			<div>
			  <label for="busLine" class="">Bus/Train Line
			    <input class="" type="text" name="busLine" id="busLine" value="">
			   </label>  
			</div>
			<div>
			  <label for="tickets" class="">Tickets Needed
			    <input class="" type="text" name="tickets" id="tickets" value="">
			   </label>  
			</div>
			<div>
			  <label for="commuteTime" class="">Commute Time
			    <input class="" type="text" name="commuteTime" id="commuteTime" value="">
			   </label>  
			</div>
			<div>
			  <label for="commuteNotes" class="">Commute Notes
			    <input class="" type="text" name="commuteNotes" id="commuteNotes" value="">
			   </label>  
			</div>

		</div> <!-- /column 3 -->
	</div> <!-- /row -->
<!-- 	<div class="form-group row d-flex justify-content-end"">
		<a class="btn btn-outline-info btn-fam-info mr-1" data-toggle="tab" role="tab">Back</a>
		<a class="btn btn-outline-primary btn-pets" data-toggle="tab" role="tab">Next</a>
	</div> -->
</div> <!-- /container -->


<div class="form-group row d-flex justify-content-end">

	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-end">
	    <li class="page-item mr-1">
	      <a class="page-link btnFamInfo" href="#" tabindex="-1">Back</a>
	    </li>

		<li class="page-item">
	      <a class="page-link btn-pets">Next</a>
	    </li>
	  </ul>
	</nav>

</div>

