<div class="container">
<!-- This page contains the host family address, which is the unique information for each record in the database -->
	<h2>Host Family Address</h2>
	<div id="famInfoForm">


		<div class="form-group row"> <!-- Street 1 -->
			<div class="col-md-6">
				<input type="text" class="required form-control" id="address" name="street" placeholder="Street address, P.O. box, company name, c/o">
			</div>
			<div class="col-md-6"> <!-- Street 2 -->
				<input type="text" class="form-control" id="address_2" name="street2" placeholder="Apartment, suite, unit, building, floor, etc.">
			</div>	
		</div>					
							
	

		<div class="form-group row"> <!-- City-->
			<div class="col-md-4">
				<input type="text" class="required form-control" id="city" name="city" placeholder="city">
			</div>
			<div class="col-md-3">
				<select class="required form-control" name='state' id="state">			
					<option value="OR">Oregon</option>			
					<option value="WA">Washington</option>
				</select>						
			</div>
			<div class="col-md-2">
				<input type="text" class="required form-control" id="zip" name="zip" placeholder="zip code">
			</div>
			<div class="col-md-2">
				<input type="button" class="btn btn-primary addMbr" value="Add family member">
			</div>
		</div>

	</div> <!-- /.famInfoForm -->

	<%- include ../partials/famMbrs.ejs %>
    


</div>  <!-- /.container -->




