

<!-- TODO -->
<!-- functionality to add additional family members; push to array before submitting form -->
<div class="container">
	<h1>Family Information</h1>
	<div class="form-group row">
		<div class="col-md-4">
<!-- 			<label for="firstName-1" class="control-label">First Name</label>
 -->			<input type="text" class="form-control" id="firstName-1" name="firstName-1" placeholder="first name" required>

		</div>

		<div class="col-md-4">
<!-- 			<label for="lastName-1" class="control-label">Last Name</label>
 -->			<input type="text" class="form-control" id="lastName-1" name="lastName-1" placeholder="last name" required>

		</div>

		<div class="col-md-4">
<!-- 			<label for="prefName" class="control-label">Preferred Name</label>
 -->			<input type="text" class="form-control" id="prefName" name="prefName" placeholder="preferred name">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-2">
<!-- 			<label for="phone" class="control-label">phone</label>
 -->			<input type="tel" class="form-control" id="phone" name="phone" placeholder="phone">
		</div>
		<!-- TODO -->
			<!-- make phone input able to add additional numbers and mark as cell/home/work -->
		<div class="col-md-2">
<!-- 			<label for="gender" class="control-label">gender</label>
 -->			<select class="form-control" id="gender" name="gender" placeholder="gender">
				<option value="#">gender</option>
				<option value="male">male</option>
				<option value="female">female</option>
			</select>
		</div>
		<div class="col-md-2">
<!-- 			<label for="relationship" class="control-label">relationship</label>
 -->			<select class="form-control" id="relationship" name="relationship" placeholder="relationship">
				<option value="#">relationship</option>
				<option value="mainContact">Main Contact</option>
				<option value="spouse">Spouse</option>
				<option value="male">Male</option>
				<option value="father">Father</option>
				<option value="mother">Mother</option>
				<option value="grandfather">Grandfather</option>
				<option value="grandmother">Male</option>
				<option value="son">Son</option>
				<option value="daughter">Daughter</option>
				<option value="brother">Brother</option>
				<option value="sister">Sister</option>
				<option value="grandson">Grandson</option>
				<option value="granddaughter">Granddaughter</option>
				<option value="otherRelative">Other Relative</option>
				<option value="friend">Friend</option>
				<option value="other">Other</option>
			</select>
		</div>
			<div class="col-md-2">
<!-- 			<label for="age" class="control-label">age</label>
 -->			<input type="tel" class="form-control" id="age" name="age" placeholder="age">
		</div>
		<div class="col-md-2">
<!-- 			<label for="email" class="control-label">email</label>
 -->			<input type="email" class="form-control" id="email" name="email" placeholder="email">
		</div>
		<div class="col-md-2">
<!-- 			<label for="occupation" class="control-label">occupation</label>
 -->			<input type="text" class="form-control" id="occupation" name="occupation" placeholder="occupation">
		</div>

	</div>

	<div class="form-group row">
		<div class="col-md-4">
<!-- 			<label for="hobbies" class="control-label">hobbies</label>
 -->			<textarea class="form-control" id="hobbies" name="hobbies" placeholder="hobbies" rows="4"></textarea>
		</div>
		<div class="col-md-4">
<!-- 			<label for="notes" class="control-label">notes</label>
 -->			<textarea class="form-control" id="notes" name="notes" placeholder="notes" rows="4"></textarea>
		</div>

		<div class="col-md-4 d-flex justify-content-end align-items-end" id='famInfoButtons'>
			<button class="btn btn-primary" id="addMember">Add Member</button>
			<a class="btn btn-primary" id="btn-accom" data-toggle="tab" href="#accomodations" role="tab">Next</a>

		</div>



	</div>

	<!-- <div class="form-group row"> -->
		<!-- <div class="col-md-3">
			<button class="btn btn-primary" id="addMember">Add Member</button>
			<a class="btn btn-primary" id="btn-accom" data-toggle="tab" href="#accomodations" role="tab">Next</a>

		</div>
 -->
	<!-- </div> -->

</div>  <!-- /container -->



<!-- 		<div class="form-group row">
			<div class="col-md-4">
				<label for="email" class="control-label">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="email" required>

			</div>
			<div class="col-md-4">
				<label for="verifyEmail" class="control-label">Verify Email</label>
				<input type="email" class="form-control" id="verifyEmail" name="verifyEmail" placeholder="verify email">
			</div>
		</div>	

		<div class="form-group">
			<label for="street1_id" class="control-label">Street Address 1</label>
			<input type="text" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o" required>

		</div>					
								
		<div class="form-group">
			<label for="street2_id" class="control-label">Street Address 2</label>
			<input type="text" class="form-control" id="street2_id" name="street2" placeholder="Apartment, suite, unit, building, floor, etc.">
		</div>	

		<div class="form-group row">
			<div class="col-md-4">
				<label for="city_id" class="control-label">City</label>
				<input type="text" class="form-control" id="city_id" name="city" placeholder="city" required>

			</div>
			<div class="col-md-4">
				<label for="state_id" class="control-label">State</label>
				<select class="form-control" id="state_id">			
					<option value="OR">Oregon</option>			
					<option value="WA">Washington</option>
				</select>
						
			</div>
			<div class="col-md-4">
				<label for="zip" class="control-label">Zip Code</label>
				<input type="text" class="form-control" id="zip" name="zip" placeholder="#####" required>

			</div> -->
<!-- 		<a class="btn btn-primary" data-toggle="tab" href="#accomodations" role="tab">Next</a>

</div>
 -->
