<ul class="nav nav-tabs" id="hostFamNav">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#userInfo" role="tab">User Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-fam-info" data-toggle="tab" href="#familyInfo" role="tab">Family Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#accomodations" role="tab">Accomodations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#petsInfo" role="tab">Pets Info</a>
  </li>
</ul>
