<!-- This creates the tab selectors -->
<!-- The panels to be shown for each tab are on the hostFamilyForm.ejs -->
<h1>Host Family Application</h1>
<div id="tabs">
  <ul class="nav nav-tabs" id="hostFamNav">  
    <li class="nav-item"><a class="nav-link" href="#familyInfo">Family Info</a></li>
    <li class="nav-item"><a class="nav-link" href="#accomodations">Accomodations</a></li>
    <li class="nav-item"><a class="nav-link" href="#petsInfo">Pets Info</a></li>

  </ul>
</div>
