<!-- <ul class="nav nav-tabs" id="hostFamNav">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#userInfo" role="tab">User Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-fam-info" data-toggle="tab" href="#familyInfo" role="tab">Family Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#accomodations" role="tab">Accomodations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#petsInfo" role="tab">Pets Info</a>
  </li>
</ul> -->
<!-- ui-state-default ui-corner-top ui-tabs-selected ui-state-active -->
<h1>Host Family Application</h1>
<div id="tabs">
  <ul class="nav nav-tabs" id="hostFamNav">  <!-- class="nav nav-tabs" --> 
    <!-- <li class="nav-item"><a class="nav-link" href="#userInfo">User Info</a></li> -->
    <li class="nav-item"><a class="nav-link" href="#familyInfo">Family Info</a></li>
    <li class="nav-item"><a class="nav-link" href="#accomodations">Accomodations</a></li>
    <li class="nav-item"><a class="nav-link" href="#petsInfo">Pets Info</a></li>

  </ul>
</div>
