<div class="container">
	<h2>Pets Information</h2>
	<div id="petForm">
		<!--  hidden template for dynamically adding rows -->
		<div class="pettemplate none form-group row">
			<div class="col-md-2">
				<select class="form-control" id="petType" name='petType'>
					<option value="pet-none">pet type</option>
					<option value="cat">Cat</option>
					<option value="chickens">Chickens</option>
					<option value="small dog">Dog - small</option>
					<option value="medium dog">Dog-medium</option>
					<option value="large dog">Dog-large</option>
					<option value="goats">Goats</option>
					<option value="others">Others</option>
				</select>
			</div>

			<div class="col-md-2">
				<select class="form-control" id="petLives" name="petLives">
					<option value="pet-none">pet lives</option>
					<option value="indoor">Indoor</option>
					<option value="outdoor">Outdoor</option>
					<option value="both">Both</option>
				</select>
			</div>

			<div class="col-md-2">
				<input type="text" class="form-control" id="petName" name="petName" placeholder="pet's name">
			</div>

			<div class="col-md-4">
				<input type="text" class="form-control" id="petNotes" name="petNotes" placeholder="notes">
			</div>
			<div class="col-md-2">
				<input type="button" class="btn btn-outline-secondary  addPet" value="+">
				<input type="button" class="btn btn-outline-secondary  deletePet" value="-">
			</div>
		</div> <!-- /hidden template -->
	</div>

	<div class="add-row-pet">
		<!-- inputs dynamically rendered here; pets.js copies from hidden template above -->
	</div>

	<!-- hidden field to hold multiple values to be entered into database array -->
	<input type="hidden" name="pets" id='pets[]' >

</div>



