<!DOCTYPE html>
<html>
 <%- include partials/head.ejs %>

  <body>
    <h1><%= title %></h1>
    <h3>Host Family Application Page</h3>



	<!-- <button type="button" class='btn btn-primary'> -->
	<a href="apply" class='btn btn-primary'>Apply</a></button>

	 <%- include partials/scripts.ejs %>

  </body>
</html>
