<%- include ../partials/head.ejs %>
<%- include ../partials/scripts.ejs %>


<%- include ../partials/nav.ejs %>



  <div class="form-group row"> <!-- Submit Button -->
    <!-- <a href="familyInfo" class="btn btn-primary">Next</a> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>